.accordion-item {
    position: absolute;
    opacity: 0;
    z-index: -1;
}
.accordion-wrapper {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
    width: 600px;
    margin:0 auto;
}
.accordion {
    width: 100%;
    color: #a3a3a3;
    overflow: hidden;
    margin-bottom: 16px;
    border-radius: 0.5rem;
}
.accordion:last-child{
    margin-bottom: 0;
}
.accordion-label {
    background: rgba(23, 23, 23, 0.713);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
    border: 1px solid rgba(98, 98, 98, 0.48);

    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 16px;
    background: #161616;
    cursor: pointer;
}
.accordion-label:hover {
    background: rgb(32, 32, 32)
}
.accordion-label::before {
    content: "\276E";
    width: 16px;
    height: 16px;
    text-align: center;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.accordion-content {
    width: 99.9%;
    max-height: 0;
    padding: 0 16px;
    color: rgba(4,57,94,1);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;

    background: rgba(23, 23, 23, 0.713);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
    border: 1px solid rgba(98, 98, 98, 0.48);

}
.accordion-content p{
    margin: 0;
}
input:checked + .accordion-label {
    background: #0d0d0d;
}
input:checked + .accordion-label::before {
    -webkit-transform: rotate(-90deg);
    transform: rotate(90deg);
}
input:checked ~ .accordion-content {
    max-height: 100vh;
    padding: 16px;
}
  